__pycache__
.venv
.env
poetry.lock
package/

server/frontend/node_modules
server/frontend/dist
server/frontend/yarn.lock
server/frontend/yarn-error.log
server/frontend/.yarn
server/frontend/.pnp.cjs
server/frontend/.pnp.loader.mjs
