__pycache__
.venv
.env
.vscode
poetry.lock
package/
package.py

frontend/node_modules
frontend/dist
frontend/yarn.lock
frontend/yarn-error.log
frontend/.yarn
frontend/.pnp.cjs
frontend/.pnp.loader.mjs

dist/

# JetBrains
.idea/
